<html>
    <head>
    </head>
    <body>
        <div>
            <form action="/review-total" id="review-total-card">
                <p> Total Dibayar </p>
                <p> <%= tanggal %> </p>
                <p> <%= paid_count %> </p>
            </form>
        </div>
        <div>
            <form action="/review-total" id="review-total-card">
                <p> Total Review </p>
                <p> <%= tanggal %> </p>
                <p> <%= review_count %> </p>
            </form>
        </div>
    </body>
</html>