<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Pemesanan</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>

    <body>
        <h2>Selamat Datanggggg</h2> <br>

        <div>
            <h3>Makanan</h3> <br>
            <ul class="reviews">
                <% for(var i = 0; i < review.length; i++) {%>
                    <% for(var j = 0; j < review[i].reviews.length; j++) {%>
                        <li class="review">
                            <span>Rating: </span><%= review[i].reviews[j].rating%><br>
                            <% if (review[i].reviews[j].nama !== undefined) {%>
                                <span>Reviewer: </span><%= review[i].reviews[j].nama%><br>
                            <% } %>
                            <% if (review[i].reviews[j].komentar !== undefined) {%>
                                <span><%= review[i].reviews[j].komentar%></span><br>
                            <% } %>
                            <br>
                        </li>
                    <% } %>
                <% } %>
            </ul>

            <form action="/review" method="GET">
                <input type="hidden" name="name" value="name">
                <button type="submit">Back</button>
            </form>

        </div>

        <script src="/main.js"></script>
    </body>
</html>