<html>
    <head>
    </head>
    <body>
        <form action="/receipt">
            <h2>Pesanan anda telah diverifikasi!</h2>
            <h4> 
                tinggalkan review <a href="#"> di sini  </a>  dengan memasukkan kode <%= message %>
            </h4>
        </form>
    </body>
</html>