<html>
    <head>
    </head>
    <body>
        <form action="/receipt">
            <h2>Pesanan anda telah diterima!</h2>
            <h4> 
                Mohon menyerahkan kode: <%= message %> untuk melakukan pembayaran
            </h4>
        </form>
    </body>
</html>