<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add review</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>

  <body>
    <h2> Terima kasih telah meninggalkan review! </h2>

    <script src="/main.js"></script>
  </body>
</html>